*{margin: 0; padding: 0; font-family: sans-serif;}

span{
	color: white;
}

#bar{
	margin: 1em 4em;
	border: 1px solid grey;
	padding: .5em 1.5em;
	border-radius: .3em;
	//background-color: #e8eaef;
}

#tableBox{
	margin: 1em 4em;
	border: 1px solid grey;
	padding: .5em 1.5em;
	border-radius: .3em;
}

.dropLabel{
	font-weight: bold;
	color : black;
}

#colors{
	display: inline-block;
	position: relative;
	top: .2em;
	margin-left: 2em;
}

[type="color"] {
	padding: .2em .4em;
	width: 3em;
	height: 2em;
	border-bottom-right-radius: .3em;
	border-top-right-radius: .3em;
	margin:0;
	background-color: white;
	border-style: none;
	border-left: 1px solid grey;
}

.colorlabel{
	display: inline-block;
	padding-left: .3em;
	margin:0;
	border-radius: .3em;
	background-color: #e8eaef;
	border: 1px solid grey;
	overflow: hidden;
	color : black;
}

select{
	width: 7em;
	padding: .3em .5em;
	border-radius: .3em;
	border: 1px solid grey;
}

#fontSelect{
	width: 8.5em;
}

#drops{
	display: inline-block;
	position: relative;
	top: -.4em;
}

#table{
	//margin: 1em 4em !important;
	//border: 1px solid grey;
	//padding: .5em 1.5em;
	//border-radius: .3em;
	//background-color: #e8eaef;
}

#modal{
	margin: 1em 4em;
	border: 1px solid grey;
	padding: .5em 1.5em;
	border-radius: .3em;
}

.red{
	display: inline-block;
	float: right;
	background-color: red;
	border-radius: .3em;
	color: white;
	padding: .5em;
}

.close{
	color: white;
}

.inline{
	display: inline-block;
}

#guess{
	width: 5em;
	height: 2.5em;
	border-radius: .3em;
}

.viewBox{
	padding: .2em;
	margin: .1em;
	font-size: 3.5vw;
	border: 1px solid grey;
}

#wordView{
	margin: 1em;
	margin-top: 6em;
}

#guessView{
	float:right;
	margin-top: 2em;
	margin-right: -1em;
}

.guessBox{
	padding: .2em;
	margin: .1em;
	font-size: 2.5vw;
	border: 1px solid grey;
}
